html {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

abbr {
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #375344;
    color: #000;
    counter-reset: element;
    background-image: url('../images/blackboard.png');
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    /* overflow: hidden; */
}

#video {
    margin: 20px;
}

body {
    border: 15px solid #a67c52;
}
/*
#top,
#bottom,
#left,
#right {
    background: #a67c52;
    position: fixed;
    z-index: 999999999;
}
#left,
#right {
    top: 0;
    bottom: 0;
    width: 15px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}
#top,
#bottom {
    left: 0;
    right: 0;
    height: 15px;
}
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}
*/

/*.main {
    background-image: url(../images/blackboard.png);
    background-size: cover;
} */

.element {
    font-family: 'Walter Turncoat', cursive;
    color: #fff;
}

h1 {
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 36px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h1,
h2,
span {
    font-weight: 100;
}

.strong {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    padding-top: 20px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    height: 4.5vw;
    z-index: 999999;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 53%;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 2;
}

.top50 { margin-top:50px; }
.bottom50 { margin-bottom:50px; }
.bottom100 { margin-bottom:100px; }
ol.periodic-table {
    margin: 1vw 5vw 0 5vw;
}

.periodic-key {
    display: grid;
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
    padding-left: 0;
}

.periodic-key li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    font-weight: bold;
}

.periodic-key:before {
    display: block;
    content: '';
    grid-row: 8 / 10;
    grid-column: 1 / 7;
}

.periodic-table {
    display: grid;
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
    padding-left: 0;
}

.periodic-table li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    border-radius: 25%;
    font-weight: bold;
}

.periodic-table>li:before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: .9vw;
    /*font-weight: lighter;*/
}

.periodic-table>li abbr {
    font-size: 15px;
}

li:has(> a) {
    border: dotted black;
}

.periodic-table>a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    border-radius: 25%;
    font-weight: bold;
}

.periodic-table>a:before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 5px;
    left: 6px;
    font-size: .9vw;
    font-weight: lighter;
}

.helium {
    grid-column-start: 18;
}

.boron,
.aluminium {
    grid-column-start: 13;
}

.cerium,
.thorium {
    grid-column-start: 4;
}

.periodic-table>li:nth-child(n+58):nth-last-child(n+48) {
    grid-row-start: 8;
}

.periodic-table>li:nth-child(n+90):nth-last-child(n+16) {
    grid-row-start: 9;
}

.periodic-table:before {
    display: block;
    content: '';
    grid-row: 8 / 10;
    grid-column: 1 / 4;
}

.type-0 {
    background: #FFF;
}

.type-1 {
    background: #875598;
}

.type-2 {
    background: #CC6666;
}

.type-3 {
    background: #F38400;
}

.type-4 {
    background: #008856;
}

.type-5 {
    background: #c1ebc1;
}

.type-6 {
    background: #ffd1dc;
}

.type-7 {
    background: #F3C300;
}

.type-8 {
    background: #0067a5;
}

.type-9 {
    background: #A1CAF1;
}

.type-10 {
    background: #C2B280;
}

img {
    display: block;
    width: 20%;
    margin: auto;
}

.flag {
    display: block;
}

.square {
    border: 5px solid #fff;
    position: relative;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Walter Turncoat', cursive;
    color: #d3d3d3;
    /*margin: auto;
    top: 33%;
    transform: translateY(-33%);*/
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 7vh;
    padding-top: 30%;
}

.atomic-weight, .atomic-weight-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 3.5vh;
    padding-top: 75%;
}

.atomic-no, .atomic-no-text {
    text-align: left;
    /margin: 5px;/
    font-size: 3.5vh;
    padding-top: 5%;
    padding-left: 5%;
}

.square:hover .square-layer_top {
    opacity: 1;
}

.square:hover .atomic-no, 
.square:hover .atomic-weight {
	visibility: hidden;
}

.square-layer_top {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background: rgba(0, 0, 0, 0.5);
		color: #ff6961; 
		z-index: 9999;
}

.colour-chalk {
    color: #779ecb;
}

.info {
    /*height: 100vh;*/
}

.fact {
    /*height: 100vh;*/
    text-align: justify;
    padding: 10px;
}

.fact p {
    font-family: 'Walter Turncoat', cursive;
    color: #d3d3d3;
    font-size: 25px;
    width: 100%;
    max-width: 100%;
}

.element {
    /*height: 100vh;*/
}

#key-expander {
    display: none;
    padding: 0 10px 0 10px;
}


/*
.hoverbox,
.hoverbox * {
    box-sizing: border-box;
}
.hoverbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hoverbox img {
    max-width: 20%;
    border-radius: 100%;
}
.hoverbox .hoverbox-layer_bottom {
    display: block;
}
.hoverbox .hoverbox-layer_top {
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 15px;
    border-radius: 100%;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.hoverbox:hover .hoverbox-layer_top,
.hoverbox.active .hoverbox-layer_top {
    opacity: 1;
    z-index: 999999;
}
.hoverbox .hoverbox-text {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hoverbox .hoverbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
   
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hoverbox.active .hoverbox-text_mobile {
    display: block;
}
*/

.hoverbox {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hoverbox-layer_bottom {
    display: block;
    width: 100%;
    height: auto;
}

.hoverbox-layer_top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #008CBA;*/
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.hoverbox:hover .hoverbox-layer_top {
    opacity: 1;
}

.hoverbox-text {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* override bootstrap breadcrumbs */
.breadcrumb {
    background: none;
    padding-left: 15px; 
    margin-bottom: 0;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content:none;
}








#breadcrumb {
    list-style: none;
    display: inline-block;
   /* position: fixed;*/
}

#breadcrumb .icon {
    font-size: 14px;
}

#breadcrumb li {
    float: left;
}

#breadcrumb li a {
    color: #FFF;
    display: block;
    background: #0067a5;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}

#breadcrumb li:nth-child(even) a {
    background-color: #779ecb;
}

#breadcrumb li:nth-child(even) a:before {
    border-color: #779ecb;
    border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
    border-left-color: #0067a5;
}

#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
    border: none;
}

#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
    border: none;
}

#breadcrumb li a:before,
#breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #0067a5;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}

#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}

#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #0067a5;
}

#breadcrumb li a:hover {
    background-color: #1abc9c;
}

#breadcrumb li a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}

#breadcrumb li a:hover:after {
    border-left-color: #1abc9c;
}

#breadcrumb li a:active {
    background-color: #16a085;
}

#breadcrumb li a:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}

#breadcrumb li a:active:after {
    border-left-color: #16a085;
}


/*.linkable-li {
    border: 2px solid black;
}*/

.linkable-li:hover,
.periodic-key li:hover {
    background: rgba(0, 0, 0, .5);
}

.periodic-key li:hover {
    cursor: pointer;
}

.blurred-element {
    opacity: 0.2;
}

button {
    border-radius: 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px
}

button:hover {
    background: rgba(0, 0, 0, .5);
}

.header-container {
    background: #375344;
    margin: 0;
    height: 6.9vw;
}

.header-container span {
    color: white;
    font-size: 50px;
    padding: 30px;
    line-height: 6.9vw;
}

.header-container .buttons {
    float: right;
    padding: 9px 10px 0 0;
}


/* MEDIA */

@media all and (max-width: 1170px) {
    .key-container,
    .buttons {
        display: none;
    }
}

@media all and (max-width: 1100px) {
    .helium,
    .boron,
    .aluminium,
    .cerium,
    .thorium {
        grid-column-start: auto;
    }
    .periodic-table {
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 25%;
    }
    .periodic-table>li abbr {
        font-size: 0;
    }
    .periodic-table>li {
        padding: 1rem;
        border-radius: 25%;
    }
    .periodic-table>li abbr:after {
        content: attr(title);
        font-size: 2rem;
    }
    .periodic-table>li:before {
        font-size: 1rem;
    }
    .periodic-table>li:nth-child(n+58):nth-last-child(n+48) {
        grid-row-start: auto !important;
    }
    .periodic-table>li:nth-child(n+90):nth-last-child(n+16) {
        grid-row-start: auto !important;
    }
    .periodic-table:before {
        display: none !important;
    }
    .key-container,
    .buttons {
        display: none;
    }
    a {
        padding-top: 0;
    }
}

@media all and (max-width: 750px) {
    .periodic-table {
        grid-template-columns: 1fr 1fr;
        border-radius: 0%;
    }
    .periodic-table>li {
        height: auto;
        font-size: 3vw;
        border-radius: 0%;
    }
    .key-container,
    .buttons {
        display: none;
    }
    a {
        padding-top: 10px;
    }
    .header-container span {
        font-size: 20px;
    }
}

@media all and (max-width: 550px) {
    .periodic-table,
    .periodic-key {
        grid-template-columns: 1fr;
        border-radius: 0%;
    }
    .key-container,
    .buttons {
        display: none;
    }
    a {
        padding-top: 0;
    }
}

@media all and (max-width: 550px) {
    .hoverbox {
        position: relative;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}


/* .hoverbox-layer_bottom {
  display: block;
  width: 100%;
  height: auto;
} */

.hoverbox-layer_top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-color: #008CBA;*/
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.hoverbox:hover .hoverbox-layer_top {
    opacity: 1;
}

@media all and (max-width: 550px) {
    .hoverbox-text {
        text-align: center;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 100;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}