html {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

abbr {
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 5vw;
    background: #848482;
    color: #000;
    counter-reset: element;
}

h1 {
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 36px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

h1,
h2,
span {
    font-weight: 100;
}

.strong {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    padding-top: 25px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    height: 4.5vw;
    z-index: 999999;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

p {
    margin-left: auto;
    margin-right: auto;
    max-width: 53%;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.periodic-key {
    display: grid;
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
    padding-left: 0;
}

.periodic-key li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    font-weight: bold;
}

.periodic-key:before {
    display: block;
    content: '';
    grid-row: 8 / 10;
    grid-column: 1 / 7;
}

.periodic-table {
    display: grid;
    grid-column-gap: .5vw;
    grid-row-gap: .5vw;
    padding-left: 0;
}

.periodic-table li {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    border-radius: 25%;
    font-weight: bold;
}

.periodic-table>li:before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: .9vw;
    /*font-weight: lighter;*/
}

.periodic-table>li abbr {
    font-size: 15px;
}

li:has(> a) {
    border: dotted black;
}

.periodic-table>a {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    border-radius: 25%;
    font-weight: bold;
}

.periodic-table>a:before {
    counter-increment: element;
    content: counter(element);
    position: absolute;
    bottom: 5px;
    left: 6px;
    font-size: .9vw;
    font-weight: lighter;
}

.helium {
    grid-column-start: 18;
}

.boron,
.aluminium {
    grid-column-start: 13;
}

.cerium,
.thorium {
    grid-column-start: 4;
}

.periodic-table>li:nth-child(n+58):nth-last-child(n+48) {
    grid-row-start: 8;
}

.periodic-table>li:nth-child(n+90):nth-last-child(n+16) {
    grid-row-start: 9;
}

.periodic-table:before {
    display: block;
    content: '';
    grid-row: 8 / 10;
    grid-column: 1 / 4;
}

.type-0 {
    background: #FFF;
}

.type-1 {
    background: #875598;
}

.type-2 {
    background: #CC6666;
}

.type-3 {
    background: #F38400;
}

.type-4 {
    background: #008856;
}

.type-5 {
    background: #c1ebc1;
}

.type-6 {
    background: #ffd1dc;
}

.type-7 {
    background: #F3C300;
}

.type-8 {
    background: #0067a5;
}

.type-9 {
    background: #A1CAF1;
}

.type-10 {
    background: #C2B280;
}

img {
    display: block;
    width: 20%;
    margin: auto;
}

.flag {
    display: block;
}

.square {
    border: 5px solid #fff;
    position: relative;
    text-align: center;
    width: 20%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding-top: 50%;
}

.info {
    height: 100vh;
}

.element {
    height: 100vh;
}

#key-expander {
    display: none;
}

.linkable-li {
    border: 2px dotted black;
}

.linkable-li:hover,
.periodic-key li:hover {
    background: rgba(0, 0, 0, .5);
}

.periodic-key li:hover {
    cursor: pointer;
}

.blurred-element {
    opacity: 0.2;
}


/* MEDIA */

@media all and (max-width: 1100px) {
    .helium,
    .boron,
    .aluminium,
    .cerium,
    .thorium {
        grid-column-start: auto;
    }
    .periodic-table {
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 25%;
    }
    .periodic-table>li abbr {
        font-size: 0;
    }
    .periodic-table>li {
        padding: 1rem;
        border-radius: 25%;
    }
    .periodic-table>li abbr:after {
        content: attr(title);
        font-size: 2rem;
    }
    .periodic-table>li:before {
        font-size: 1rem;
    }
    .periodic-table>li:nth-child(n+58):nth-last-child(n+48) {
        grid-row-start: auto !important;
    }
    .periodic-table>li:nth-child(n+90):nth-last-child(n+16) {
        grid-row-start: auto !important;
    }
    .periodic-table:before {
        display: none !important;
    }
    .key-container {
        display: none;
    }
    a {
        padding-top: 0;
    }
}

@media all and (max-width: 750px) {
    body {
        margin: 2vw;
    }
    .periodic-table {
        grid-template-columns: 1fr 1fr;
        border-radius: 0%;
    }
    .periodic-table>li {
        height: auto;
        font-size: 3vw;
        border-radius: 0%;
    }
    .key-container {
        display: none;
    }
    a {
        padding-top: 10px;
    }
}

@media all and (max-width: 550px) {
    .periodic-table,
    .periodic-key {
        grid-template-columns: 1fr;
        border-radius: 0%;
    }
    .key-container {
        display: none;
    }
    a {
        padding-top: 0;
    }
}
